Hallo Vorstand,

Das Sprechstundensystem braucht neue Termine, bitte legt neue Termine an.

Anzulegen hier: https://sprechstunden.stustanet.de{% url "management:create_appointments" %}

Viel Vergnügen!

Grüße,

{{ sender }}
