{% extends "management/base.html" %}

{% block content %}
  <h3>{% if admin %}Admin bearbeiten{% else %}Admin hinzufügen{% endif %}</h3>
  <div class="col-lg-8">
    <form {% if admin %}action="{% url "management:edit_admin" admin.pk %}"
          {% else %}action="{% url "management:create_admin" %}"{% endif %} method="post">
      {% csrf_token %}
      <fieldset>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-3">Vorname</label>
          <input
              class="form-control col-sm-9"
              type="text"
              id="id_first_name"
              {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}
              name="{{ form.first_name.name }}">
          {{ form.first_name.errors }}
        </div>
        <div class="form-group row">
          <label for="id_last_name" class="col-sm-3">Nachname</label>
          <input
              class="form-control col-sm-9"
              type="text"
              id="id_last_name"
              {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}
              name="{{ form.last_name.name }}">
          {{ form.last_name.errors }}
        </div>
        <div class="form-group row">
          <label for="id_email" class="col-sm-3">E-Mail</label>
          <input
              class="form-control col-sm-9"
              type="text"
              id="id_email"
              {% if form.email.value %}value="{{ form.email.value }}"{% endif %}
              name="{{ form.email.name }}">
          {{ form.email.errors }}
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Speichern</button>
        <a class="btn btn-outline-danger" href="{% url "management:manage_admins" %}">Abrechen</a>
      </fieldset>
    </form>
  </div>
{% endblock %}